<div id = "manageInventoryHomePage" ui-view>
  <h1 class="display-4 text-center m-2">Manage</h1>
  <hr><br>
  <span class="lead"> Manage your inventory here. Choose an option:</span>
  <div class="row mt-5">
    <br/><div class="col">
    <i class="fa fa-eye" aria-hidden="true"></i><a class = "text-primary" ui-sref = "manageInventoryHome.viewCurrentInventory"> View Current Inventory</a>
    <br/></div>
    <br/><div class="col">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a class = "text-primary" ui-sref = "manageInventoryHome.add-remove"> Edit Current Inventory</a>
    <br/></div>
    <br/><div class="col">
    <i class="fa fa-plus-square" aria-hidden="true"></i><a class = "text-primary" ui-sref = "manageInventoryHome.addNewInventory"> Add New Items to Inventory</a>
  </div></div>
  </div>