<div><h1 class="display-4 text-center m-2">Inventory</h1>
	<nav class="navbar navbar-default">
		<form class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<div style="float: left">
					<span class="lead">Find an item<input type="text" class="form-control" placeholder="Search"
						ng-model="searchItem"></span>
				</div>
				<div style="float: right"></div>
			</div>
		</form>
	</nav>

	<table class="table table-striped table-bordered table-hover">
		<thead class="thead-inverse">
			<tr>
				<th><span class="lead">Id</span></th>
				<th><span class="lead">Department</span></th>
				<th><span class="lead">Name</span></th>
				<th><span class="lead">Unit price</span></th>
				<th><span class="lead">Quantity</span></th>
				<th><span class="lead">Description</span></th>
				<th><span class="lead">Image</span></th>
			</tr>
		</thead>
		<tr
			ng-repeat="x in itemlist  | orderBy:sortType:sortReverse | filter:searchItem">
			<td><span class="lead">{{x.id}}</span></td>
			<td><span class="lead">{{x.department.name}}</span></td>
			<td><span class="lead">{{x.name}}</span></td>
			<td><span class="lead">{{x.unitPrice}}</span></td>
			<td><span class="lead">{{x.quantity}}</span></td>
			<td><span class="lead">{{x.description}}</span></td>
			<td><span class="lead">{{x.image}}</span></td>
		</tr>
	</table>
</div>